.button {
    width: 328px;
    height: 36px;
    background: #00bfb2;
    border-radius: 18px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.75px;
    text-transform: uppercase;
    color: #ffffff;
    cursor: pointer;
    border: none;
    display: block;
    margin: 38px auto 0;
    transition: ease 0.4s all;

    &:hover {
        background: #006962;
    }
}
