.button {
    width: 328px;
    height: 36px;
    background: #00bfb2;
    border-radius: 18px;

    text-align: center;
    letter-spacing: 0.75px;
    text-transform: uppercase;
    color: #ffffff;
    cursor: pointer;
    border: none;
    display: block;
    margin: 38px auto 0;
    transition: ease 0.4s all;

    &__icon {
        margin-right: 17px;
        vertical-align: middle;
    }

    &__text {
        font-weight: 600;
        font-size: 14px;
        line-height: 16px;
        vertical-align: middle;
    }

    &:hover {
        background: #006962;
    }
}
