.main {
    &__header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__avatar {
        height: 80px;
        width: 80px;
    }

    &__text {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 24px;
    }

    &__name {
        font-size: 34px;
        line-height: 36px;
        text-align: center;
        letter-spacing: -0.5px;
        font-weight: normal;
    }

    &__title {
        margin-top: 8px;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
    }
}
