.main {
    &__container {
        margin-top: 24px;
    }

    &__header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__avatar {
        height: 80px;
        width: 80px;
    }

    &__details {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 24px;
    }

    &__name {
        font-size: 34px;
        line-height: 36px;
        text-align: center;
        letter-spacing: -0.5px;
        font-weight: normal;
    }

    &__title {
        margin-top: 8px;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
    }

    &__info {
        margin-top: 61px;
    }

    &__options {
        display: flex;
    }

    &__edit {
        margin-right: 17px;
    }

    &__edit,
    &__chat {
        cursor: pointer;
        display: flex;
        align-items: center;

        &-text {
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
            text-align: right;
            letter-spacing: 0.75px;
            text-transform: uppercase;
            color: #7566a0;
            margin-right: 7px;
            transition: 0.4s ease all;

            &:hover {
                color: #473870;
            }
        }
    }
}
